{% extends 'base.html.twig' %}

{% block title %}Modifier Opération{% endblock %}

{% block body %}
    <h1>Modifier Opération</h1>

    <div class="form">

        {{ include('operation/_form.html.twig', {'button_label': 'Modifier'}) }}

        {{ include('operation/_delete_form.html.twig') }}

        <a href="{{ path('operation_index') }}">Retour</a>

    </div>

    
{% endblock %}
