{% extends 'base.html.twig' %}

{% block title %}New Operation{% endblock %}

{% block body %}
    <h1>Créer Nouvelle Opération</h1>

    <div class="form">

        {{ include('operation/_form.html.twig') }}

       <a class="btn" href="{{ path('operation_index') }}">Retour</a>

    </div>

   

    
{% endblock %}
