/*	
	Side Navigation Menu V2, RWD
	===================
	Author: https://github.com/pablorgarcia
 */

@charset "UTF-8";

:root {

  --primary: #F2B366 ;
  --secondary: #66C4F2;
  --background: #2A3640;

  --create: #66d98c;
  --read: #A69B7C;
  --update: #D97B66;
  --delete: #BF6060;

  --text: #FFFFFF;
  --text-hover: #F2B366 ;
  
  --table-primary: #435666;
  --table-secondary: #4C6173;
  --table-hover: #435660 ;
  
}

body {
  font-family: 'LatoRegular'; 
  font-weight: normal;
  font-style: normal; 
  line-height: 1.42em;
  color: var(--text);
  background-color: var(--background);
}

h1 {
  font-size: 3em;
  font-weight: 300;
  line-height: 1em;
  text-align: center;
  color: var(--secondary);
}

h2 {
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  display: block;
  line-height: 1em;
  padding-bottom: 1em;
  color: var(--primary);
}

.container td {
  
  font-weight: normal;
  font-size: 1em;

}

.container {

  text-align: center;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  display: table;
  padding: 0 0 3em 0;

}

.container td,
.container th {
  padding-bottom: 1%;
  padding-top: 1%;

}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
  background-color: var(--table-primary);
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
  background-color: var(--table-secondary);
}

.container th {
  background-color: var(--background);
}

.container td:first-child {

  color: var(--primary-color);

}

.container tr:hover {
  background-color: var(--table-hover);

}

.container td:hover {
  color: var(--text-hover);

}


 @media (max-width: 1300px) {
  .container {

    width: 100%;

  }
 }



a, 
button {
  border: solid;
  border-color: var(--primary);
  background-color: var(--background);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  color: var(--text);
  margin: 4px 0px;
  padding: 8px 16px;


}

a:hover,
button:hover {

  background-color: var(--table-hover);
  color: var(--text-hover);

}

.linkShow {


  background-color: var(--read);

}

.linkEdit {


  background-color: var(--update);

}

.linkShow:hover {

  background-color: transparent;
  color: var(--text-hover);
}

.linkEdit:hover {

  background-color: transparent;
  color: var(--text-hover);
}

.actions {

  text-align: center;
  width: 20%;

}

.menu {

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  margin: 0px;

}


#revenue {

  color: var(--secondary);
  padding: 3px;
  border: solid 1px;

}

#new {

  align-items: center;
  
}

#revenueNumber {

  color: var(--primary);

}

td {

  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20ch;

}

.form form{

  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

#client, #operation, #employee{

  background-color: var(--table-secondary);
  padding: 25px 10px;
  border-radius: 5px;

}

#client label, #employee label, #operation label{

  display:block;
  width: 80px;
  color: var(--text)

}

input, select{

  width: 400px;
  padding: 10px;
  color: var(--text);

}

input{

  background-color: var(--table-hover);

}

select{

  background-color: var(--table-primary);
  width: 425px;

}

form{

  width: 100%;
  
}

#map{

  width: auto; 
  height: 300px;
  margin: 2%;

}

#map a{

  all: unset;

}

.form{

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2%;
  max-width: auto;
  flex-direction: column;
  
}

.btn{

  display: flex;
  margin: 10px auto;

}

#addressList{

  background-color: red;
  color: red;
}

.delete{

  background-color: var(--delete);

}

.delete:hover{

  background-color: transparent;
  
}

.new{

  background-color: var(--new);

}

.new:hover{

  background-color: transparent;
  
}

img{

  height:auto;
  width: 300px;

}

#logo{

  all: unset;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  margin: 0px;

}