/*	
	Side Navigation Menu V2, RWD
	===================
	Author: https://github.com/pablorgarcia
 */

 @charset "UTF-8";
 
 body {
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   line-height: 1.42em;
   color:#A7A1AE;
   background-color:#1F2739;
 }
 
 h1 {
   font-size:3em; 
   font-weight: 300;
   line-height:1em;
   text-align: center;
   color: #4DC3FA;
 }
 
 h2 {
   font-size:2em; 
   font-weight: 300;
   text-align: center;
   display: block;
   line-height:1em;
   padding-bottom: 1em;
   color: #FB667A;
 }
 
 h2 a {
   font-weight: 700;
   text-transform: uppercase;
   color: #FB667A;
   text-decoration: none;
 }
 
 .blue { color: #185875; }
 .yellow { color: #FFF842; }
 
 .container th h1 {
       font-weight: bold;
       font-size: 1em;
       text-align:center;
      color: #185875;
 }
 
 .container td {
       font-weight: normal;
       font-size: 1em;
       

 }
 
 .container {
  text-align:center;
       overflow: hidden;
       width: 80%;
       margin: 0 auto;
   display: table;
   padding: 0 0 3em 0;
 
 }
 
 .container td, .container th {
       padding-bottom: 1%;
       padding-top: 1%;
       
 }
 
 /* Background-color of the odd rows */
 .container tr:nth-child(odd) {
       background-color: #323C50;
 }
 
 /* Background-color of the even rows */
 .container tr:nth-child(even) {
       background-color: #2C3446;
 }
 
 .container th {
       background-color: #1F2739;
 }
 
 .container td:first-child {

   color: #FB667A; 
  
}
 
 .container tr:hover {
    background-color: #464A52;

 }
 
 .container td:hover {
   color: white;
   
 }
 /*
 @media (max-width: 800px) {
 .container td:nth-child(4),
 .container th:nth-child(4) { display: none; }
 }
*/


a {
  border:solid;
  border-color: #464A52;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  color: #A7A1AE;
  margin: 4px 0px;
  padding: 8px 16px;
  

}

a:hover{

  background-color:#464A52;
  color: white;

}

.linkShow {

  border:solid;
  border-color: green;
  background-color:green;
  

}

.linkEdit {

  border:solid;
  border-color: orange;
  background-color:orange;

}

.linkShow:hover {

  background-color:#464A52;
  color: white;
}

.linkEdit:hover {

  background-color:#464A52;
  color: white;
}

.actions{

  text-align:center;
  width: 20%;

}

.menu{

  display:flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  margin: 0px;

}


#revenue{

    color: gold;
    padding: 3px;
    border: solid 1px;
  
}

#new{
  align-items: center;
}

#revenueNumber{

  color:#FB667A;

}