<form method="post" action="{{ path('client_delete', {'id': client.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce client?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.id) }}">
    <button class="delete">Supprimer</button>
</form>
