<form method="post" action="{{ path('employee_delete', {'id': employee.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet employé?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ employee.id) }}">
    <button class="delete" class="btn">Supprimer</button>
</form>
