{% extends 'base.html.twig' %}

{% block title %}Nouvel Employé{% endblock %}

{% block body %}
   <div class="form">

    <h1>Nouvel Employé</h1>

    {{ include('employee/_form.html.twig') }}

    <a href="{{ path('employee_index') }}">Retour</a>
    
   <div>

{% endblock %}
